<!DOCTYPE html>
<html>
  <head>
    <title>Generic Partner Example App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Logged in as <%= user.id %>: <%= user.firstName %> <%= user.lastName %> (<%= user.email %>)</h1>
    <% if (!isConnected) { %>
      <p>
        This user is not currently connected.
        <a onclick="connectClick(this.href)" href="<%= signedConnectUrl %>" target="project-broadcast-connect">Connect</a>
      </p>
    <% } else { %>
      <p>This user is connected.</p>
      <dl>
        <dt>Campaigns</dt>
        <dd><%= totals.campaigns %></dd>
        <dt>Contacts</dt>
        <dd><%= totals.contacts %></dd>
        <dt>Keywords</dt>
        <dd><%= totals.keywords %></dd>
        <dt>Templates</dt>
        <dd><%= totals.templates %></dd>
        <dt>Trackable Links</dt>
        <dd><%= totals.trackableLinks %></dd>
      </dl>
    <% } %>
    <a href="/logout">Logout</a>

    <script>
      let windowRef
      function connectClick (url) {
        event.preventDefault()
        if (!windowRef || windowRef.closed) {
          windowRef = window.open(url, 'project-broadcast-connect', 'popup,width=600,height=550')
        }
        windowRef.focus()
      }
    </script>
  </body>
</html>
